# Auto detect text files and perform LF normalization
* text=auto
*.git* -text eol=lf
*.php text eol=lf
*.md text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.svg text eol=lf
*.html text eol=lf
*.jpg binary
*.png binary
*.gif binary
